<div class="action-link pull-right">
  <%= link_to "Create Period" , new_admin_period_path, class: 'btn btn-primary' %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width:2%">No</th>
      <th style="width:10%">Start</th>
      <th style="width:10%">End</th>
      <th style="width:10%">Phase</th>
      <th>Lish Staffs</th>
      <th colspan="2" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each.with_index(1) do |period, index| %>
    <tr>
      <td>
        <%= index %>
      </td>
      <td>
        <%= period.start_time%>
      </td>
      <td>
        <%= period.end_time %>
      </td>
      <td>
        <%= period.phase %>
      </td>
      <td>
        <%= period.staffs.pluck(:name).join(', ') %>
      </td>
      <td>
        <% if period.current_period? %>
        <button>Active</button>
        <% end %>
      </td>
      <td>
        <% if Date.today < period.end_time %>
        <%= link_to "Edit", edit_admin_period_path(period.id), class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
