<div class="action-link pull-right">
  <%= link_to "Create Period" , new_admin_period_path, class: 'btn btn-primary' %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Start</th>
      <th>End</th>
      <th>Phase</th>
      <th colspan="3" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each.with_index(1) do |period, index| %>
    <tr>
      <td>
        <%= index %>
      </td>
      <td>
        <%= period.start_time%>
      </td>
      <td>
        <%= period.end_time %>
      </td>
      <td>
        <%= period.phase %>
      </td>
      <td>
        <%= period.staffs.pluck(:name).join(', ') %>
      </td>
      <td>
        <% if Date.today < period.end_time %>
        <%= link_to "Edit", edit_admin_period_path(period.id), class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
