<h1 class="page-header">Final result</h1>
<h2>Summary</h2>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Period</th>
      <th>Name</th>
      <th>Final Score</th>
      <th>Self Score</th>
      <th>Peer Score</th>
      <th>Manager Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @evaluation_result.period.start_time %> - <%= @evaluation_result.period.end_time %></td>
      <td><%= @evaluation_result.staff.name %></td>
      <td><%= @evaluation_result.score %></td>
      <td><%= @self_evaluation.score %></td>
      <td><%= (@peer_evaluations.map(&:score).sum / @peer_evaluations.length).round(1) %></td>
      <td><%= @manager_evaluation.score %></td>
    </tr>
  </tbody>
</table>
<hr>

<h2>Detail</h2>
<table class="table table-striped table-hover table-bordered">
  <colgroup>
    <col style="width: 5%">
    <col style="width: 60%">
    <col style="width: 5%">
    <col style="width: 5%">
    <col style="width: 5%">
    <col style="width: 5%">
    <col style="width: 5%">
    <col style="width: 6%">
  </colgroup>
  <thead>
    <tr>
      <td>Index</td>
      <th>Question</th>
      <th>Self</th>
      <th>Peer</th>
      <th>Diff</th>
      <th>Manager</th>
      <th>Diff</th>
      <th>Guide</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each.with_index(1) do |qe, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= qe.question %></td>
        <td><%= self_evaluation_point(qe, @self_answers) %></td>
        <td><%= peer_evaluation_point(qe, @peer_answers) %></td>
        <td><%= diff_point_display(peer_evaluation_point(qe, @peer_answers) - self_evaluation_point(qe, @self_answers)) %></td>
        <td><%= manager_evaluation_point(qe, @manager_answers) %></td>
        <td><%= diff_point_display(manager_evaluation_point(qe, @manager_answers) - self_evaluation_point(qe, @self_answers)) %></td>
        <td>
          <button type="button" class="btn btn-default" data-toggle="tooltip" 
                  data-placement="right" title="<%= qe.generate_guideline %>">Guideline</button>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>
