<%= form_tag(admin_staffs_path, :method => "get", id: "search_form") do %>
  <div>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>
<div class="action-link pull-right">
  <%= link_to "Create Staff" , new_admin_staff_path, class: 'btn btn-primary' %>
  <%= link_to "Generate Password All" , generate_password_all_admin_staffs_path, 
      class: 'btn btn-success', 'data-no-turbolink' => false %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Job</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="4" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each.with_index(1) do |staff, index| %>
    <tr>
      <td>
      <%= index %>
      </td>
      <td>
        <%= staff.name %>
      </td>
      <td>
        <%= staff.job %>
      </td>
      <td>
      <%= staff.email %>
      </td>
      <td>
      <%= staff.display_password %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_staff_path(staff.id), class: "btn btn-success" %>
      </td>
      <td>
        <%= link_to "Change Password", generate_password_admin_staff_path(staff.id),
             class: "btn btn-success" %>
      </td>
      <td>
        <%= link_to "Delete", admin_staff_path(staff.id), 
            method: :delete, class: "btn btn-danger",
            data: {confirm: "Bạn có thật sự muốn vô hiệu hóa tài khỏa này"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
