<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Job</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs
    .each.with_index(1) do |staff, index| %>
    <tr>
      <td>
      <%= index %>
      </td>
      <td>
        <%= staff.name %>
      </td>
      <td>
        <%= staff.job %>
      </td>
      <td>
      <%= staff.email %>
      </td>
      <td>
      <%= staff.display_password %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_staff_path(staff.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create Staff" , new_admin_staff_path %>