<!DOCTYPE html>
<html>
<head>
  <title>HrEvaluation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid" style="margin-bottom: 50px">
  <%= render "shared/manager/header" %>
  <%= render 'shared/common/alert' %>
  <%= yield %>
</div>
</body>
</html>
